<nav class="navbar navbar-expand-sm fixed-top bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" id="mainname">People Care Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="..." role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(25, 25, 25);">
            Login
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/doclogin"><i class="fa-solid fa-user-doctor"></i> Doctor</a></li>
            <li><a class="dropdown-item" routerLink="/adlogin"><i class="fa-solid fa-user"></i> Admin</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> 
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/2.jpg" class="d-block w-100" alt="" height="600px">
      <div class="carousel-caption d-md">
        <h4>“Study to Save lives” </h4>
        <p>– Yd House.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/1.png" class="d-block w-100" alt="" height="600px">
      <div class="carousel-caption d-md">
        <h4>"the doctor of the future will be oneself."</h4>
        <p>– Albert Schweitzer.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/3.jpg" class="d-block w-100" alt="" height="600px">
      <div class="carousel-caption d-md">
        <h5>“The best preparation for tomorrow is doing your best today.”</h5>
        <p>– H. Jackson Brown, Jr.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 




    <div class="container my-4" style="padding-top: 40px;">
      
        <div class="row mb-2">
            <div class="col-md-5">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  
                  <h3 class="mb-0" id="header">Why People Care?</h3>
                  
                  <p class="card-text mb-auto">Peoplecare hospital has the latest technology & medical equipment, modern infrastructure & highly experienced medical team.</p>
                  
                </div>
                <div class="col-auto d-none d-md-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="assets/4.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-md"></div>
            <div class="col-md-5">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success"></strong>
                  <h3 class="mb-0" id="header">Stop The Stroke!</h3>
                
                  <p class="mb-auto">When someone has stroke, we lose crucial braincells, the key to mobility, communication and memory.</p>
                
                </div>
                <div class="col-auto d-none d-md-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="assets/5.jpg" alt="">

                </div>
              </div>
            </div>
          </div>
        <div class="row mb-2">
            <div class="col-md-5">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-500 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-danger"></strong>
                  <h3 class="mb-0" id="header">People Care Heart Institute Expertise</h3>
                  
                  <p class="card-text mb-auto">The People Care Heart Institutes are regarded as one of the best heart hospitals in India, performing a multitude of treatments in all aspects. </p>
                  
                </div>
                <div class="col-auto d-none d-md-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="assets/6.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-md"></div>
            <div class="col-md-5">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-warning"></strong>
                  <h3 class="mb-0" id="header">People Care Never Sleeps</h3>
                  
                  <p class="mb-auto">Get the most advance emergency care anywhere in minutes just near to the emergency place.For contact please dial "101"</p>
                  
                </div>
                <div class="col-auto d-none d-md-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="assets/7.webp" alt="">

                </div>
              </div>
            </div> 
          </div>
    </div>
    <footer>
      <span>
        <p class="footer"> Contact : 1800 1600 1500 </p>
        <p class="footer">© 2023-2024 People Care hospitals, Inc. </p>
      </span>
    </footer>
 